@model CreatePartialView.Models.Blog
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@* item *@
<div class="card" style="width: 18rem;">
    <img src="@Model.Url" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>